.page-content {
  background-color: #EDF1D6;
  min-height: 100vh;
  padding: 20px;
}

.club-card {
  margin-bottom: 20px; /* Menambahkan ruang antara club card dan standings table */
}

.club-name {
  color: #EDF1D6; /* Ubah warna font untuk seragam dengan SignUpPage */
  margin-bottom: 10px;
}

.standings-title {
  color: #EDF1D6; /* Ubah warna font untuk seragam dengan SignUpPage */
  margin-top: 20px;
}

.standings-table {
  background-color: #EDF1D6;
}

.MuiTableCell-root {
  color: #EDF1D6; /* Ubah warna font untuk seragam dengan SignUpPage */
}
