.page-content {
  background-color: #EDF1D6;
  min-height: 100vh;
  padding: 20px;
}

.standings-title {
  color: #EDF1D6; /* Ubah warna font untuk seragam dengan SignUpPage */
  margin-top: 50px; /* Tambahkan ruang antara judul dan atap page */
  margin-bottom: 50px; /* Tambahkan juga ruang di bawah judul */
  text-align: center;
}


.standings-table {
  background-color: #EDF1D6;
  margin-top: 20px;
}

.MuiTableCell-root {
  color: #EDF1D6; /* Ubah warna font untuk seragam dengan SignUpPage */
}

/* Tambahkan ruang antara judul dan tabel */
h1 {
  color: #EDF1D6; /* Ubah warna font untuk seragam dengan SignUpPage */
  margin-bottom: 20px;
}
