/* PlayerStatsAdminPage.css */

.player-stats-admin-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.admin-title {
  margin-bottom: 20px;
  color: black; /* Change the title color to black */
}

h1 {
  text-align: center;
}

.form-container {
  margin: 20px auto;
  max-width: 800px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.club-section {
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

button[type="submit"],
button[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #007f65;
}
